body {
    font-family: Merriweather, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 28px;
}

nav {
    background-color: #555;
    padding: 1em;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 1em;
    border-radius: 10px; /* Rounded edges */
    transition: background-color 0.3s, transform 0.3s;
    display: inline-block;
}

nav a:hover {
    background-color: #8fa9cf; /* Hover color */
    transform: translateY(-5px); /* Move up on hover */
}

/* Add this CSS to align the text to the center left */
section {
    background-color: #333;
    color: white;
    max-width: 800px; /* Set the maximum width of the section */
    margin: 0 auto; /* Center the section horizontally */
    padding: 20px; /* Add some padding to the section */
    text-align: left; /* Align the text to the left */
}

section {
  opacity: 0;
  transition: opacity 1s;
}

section.visible {
  opacity: 1;
}

body {
    background-color: #333;
    margin-bottom: 100px; /* add 100px of extra space at the bottom */
}

footer {
    background-color: #595959;
    color: black;
    text-align: center;
    padding: 1em;
}


.social-links {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 0;
    list-style: none;
}
.social-links li {
    margin: 0 10px;
}